:root {
  --primary-color: #0a1c3d;
  --secondary-color: #ff5945;
  --light-secondary-color: #ffaea5;
  --dark-secondary-color: #d23a29;
  --third-color: #edeef0;
  --fourth-primary-color: rgb(5, 246, 74);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("/assets/bg.jpg") no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  margin: 5rem auto;

  background: var(--white);
  border: none;
  border-radius: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
   
  background: linear-gradient(#beedf6, #cfd3b7);
}

h1 {
  position: relative;
  padding: 1rem;
  margin: 1rem 0 0 0;

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 2.25rem;
  letter-spacing: 0.2rem;
  color: var(--primary-color);

  img {
    position: absolute;
    top: 22px;
    margin-left: 0.5rem;
  }
}

#completion-circle {
  width: 150px;
  height: 150px;
  transform: rotate(-90deg);
 
  .progress-background,
  .progress-bar {
    fill: none;
    stroke-width: 10;
  }

  .progress-background {
    stroke: var(--third-color);
  }

  .progress-bar {
    stroke: var(--fourth-primary-color);
    stroke-dasharray: 283; /* 2 * π * 45 (circumference of the circle) */
    stroke-dashoffset: 283; /* Start with the circle completely unfilled */
    transition: stroke-dashoffset 0.3s ease;
  } 
  
  #progress-text {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.35rem;
    font-weight: 600;
    transform: rotate(90deg); /* Rotate text back to normal */ 
  }
}

[data-todos-form] {
  display: flex;

  align-items: center;
  justify-content: space-between;

  width: 90%;
  margin: 1.5rem 1rem 0 1rem;

  background: var(--third-color);
  border-radius: 40px;

  label {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    text-align: center;
  }

  input {
    flex: 1;
    font-size: 1.25rem;
    border: none;
    border-radius: 40px;
    outline: none;
    background: transparent;
    padding: 1rem;
    font-weight: 1rem;
  }

  input:focus,
  input:hover {
    border: 1px solid black;
  }

  #addBtn {
    width: 5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--white);

    background: var(--secondary-color);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
  }

  #addBtn:hover {
    background: var(--dark-secondary-color);
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0.75rem;
  padding: 0.5rem;
  border-radius: 40px;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  color: var(--primary-color);

  background: var(--third-color);
  background: linear-gradient(#bc43a8, #ffb326);

  .check {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 35px;
    height: 35px;
    cursor: pointer;

    margin: 0 0.75rem 0 0.25rem;
    border: 2px solid #ccc;
    border-radius: 50%;
  }

  .check:checked {
    background: var(--fourth-primary-color);
    text-decoration: line-through;
  }
}

.item:hover {
  background: linear-gradient(#c73d3d, #7a22de);
  
}

.delete-button {
  width: 35px;
  height: 35px;
  margin-left: 1rem;

  background: var(--light-secondary-color);
  border: none;
  border-radius: 50%;
  outline: none;

  font-size: 1.2rem;
}

.delete-button:hover {
  background: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  transform: scale(1.3);
}

[data-todos-list] {
  width: 80%;
  margin: 2.5rem;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through; /* Apply line-through style when checkbox is checked */
}
